ul.social-network{
    list-style: none;
    padding: 0;
}

ul.social-network li{
    display: inline;
    padding: 10px;
}

.fa{
    font-size: 25pt;
    color: white;
    padding: 10px;
}

.fa-facebook-official:hover{
    color:lightskyblue;
}

.fa-instagram:hover{
    color:lightskyblue; 
}

.fa-twitter:hover{
    color:lightskyblue;
}