<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="assets/img/fotoyg.jpg" alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">YG</h5>
            <p class="card-text">YG é um dos artistas que se encontra em uma situação dessas. Seu contrato quase não lhe
                rende diretamente de suas músicas.</p>
            <p class="card-text"><small class="text-muted"></small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top2" src="assets/img/fotomegan1.jpeg" alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Megan Thee Stallion</h5>
            <p class="card-text">Megan se encontra em um cenário ruim com sua gravadora. De acordo com a artista, eles
                controlam todo o seu modus operandi, impedindo-a de lançar músicas e controlando toda sua carreira.</p>
            <p class="card-text"><small class="text-muted"></small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top3" src="assets/img/fotoyoungboy3.jpg" alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">NBA Youngboy</h5>
            <p class="card-text">Youngboy é um dos casos mais conhecidos de péssimos contratos de disco. Ele atualmente
                é
                da Atlantic Records, com a qual tem um contrato de 5 discos por 2 milhões de dólares. Não parece
                ruim, mas o cenário é bem maior, esse dinheiro adiantado funciona como um empréstimo, representa uma
                fração do total lucrado pela gravadora, e ele quase não
                recebe até que a gravadora recupere o investimento.
            </p>
            <p class="card-text"><small class="text-muted"></small></p>
        </div>
    </div>
</div>